
h1,a {
    color: orange;
}
a{
    text-decoration: none;
}
.ingredients {
    color: rgb(161, 23, 23);
}
li {
    font-size: 22px;
}


*{
    background-color: rgb(85, 69, 71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

